.NavigationContainer {
    margin: 0;
    padding: 0;
    grid-column: 1 / 2;
    min-height: 100%;
}

.Navigation {
    margin: 0;
    padding-left: max(200px, 5%);
    position: sticky;
    top: 95px;
    display: inline-block;
    flex-direction: column;
}

.NavigationItem {
    margin: 3px 0;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.04em;
    display: inline-block;

    -webkit-transition: 0.9s ease;
}

.NavigationItem:hover {
    cursor: pointer;
}

.NavigationItem:hover .NavigationUnderline {
    width: 200%;
    transform: scaleX(0);
    -webkit-transition: 0.5s ease;
}


.NavigationItemActive .NavigationUnderline {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    -webkit-transition: 0.9s ease;
}

.NavigationItemHome {
    text-decoration: none;
    margin-bottom: 10px;
}

.NavigationItemHome:visited {
    text-decoration: none;
    color: #272727;
}
